#### Context:
From `Lifetimes` module, we are able to find out the probability of a customer making a purchase within the next T periods of time. In order to calculate the "lifetime value", however, we require an estimation for the "average" lifespan of a customer.

This is where `Lifelines` module comes in. Lifeline module helps to calculate the "lifetime" of a customer by looking at the distribution of lifespan of a customer (including those who have just recently become a customer).

#### Approach:
Try to merge the results of `Lifetimes` to validate/improve the calculation of `Lifelines`

In [1]:
import lifelines

In [2]:
add(3)

53

In [4]:
import pandas as pd 
time = pd.DataFrame({"apple": [0,1,2,3,4,5,6],
                     "pikachu": [9,8,7,6,5,3,3]})
def additional(x):
    return x['apple'] + x['pikachu']
time['column'] = time.apply(lambda x: x['apple'] + x['pikachu'], axis=1)
time

   apple  pikachu  column
0      0        9       9
1      1        8       9
2      2        7       9
3      3        6       9
4      4        5       9
5      5        3       8
6      6        3       9

In [15]:
for index, row in time.iterrows():
    print(row['apple'])

0
1
2
3
4
5
6