In [1]:
def add(x):
    return 50+x

In [2]:
add(3)

53

In [12]:
import pandas as pd 
time = pd.DataFrame({"apple": [0,1,2,3,4,5,6],
                     "pikachu": [9,8,7,6,5,3,3]})
time

   apple  pikachu
0      0        9
1      1        8
2      2        7
3      3        6
4      4        5
5      5        3
6      6        3

In [15]:
for index, row in time.iterrows():
    print(row['apple'])

0
1
2
3
4
5
6